# dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem
*.log

# env files
.env
.env*.local
backend/.env
frontend/.env.local

# vercel & ide
.vercel
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
